.container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1rem;
}

@media (min-width: 1280px) {
  .container {
    padding: 0 2rem;
  }
}

.container-wrapper {
  display: grid;
  grid-template-rows: 10vh 90vh;
  height: 100vh;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  .nav-menu__item {
    margin-right: .5rem;

    button {
      padding: .3rem 1rem;
      cursor: pointer;
    }
  }

  .nav-menu__item:last-child {
    margin: 0;
  }
}

.company-list-wrapper {
  max-height: 100%;
  //overflow-y: hidden;
  padding: 0 .25rem;

  ul {
    padding-top: .25rem;
    padding-bottom: 1rem;

  }
}
