.skeleton {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 0 .5rem;
  margin-right: .5rem;

  img {
    width: 86px;
    height: 86px;
    object-position: center;
    object-fit: contain;
    overflow: hidden;
  }
}

.detail-info {
  margin-bottom: .4rem;
}
